body {
  overflow-x: hidden;
}
nav .logoimg {
  padding: 10%;
  width: 100%;
  margin-left: 10px;
}
nav .hamburguer {
  margin-right: 30px;
}
nav .botones {
  display: none;
}
nav .login {
  background-color: #FA5959;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row .section1img {
  width: 100%;
  padding: 5px;
  position: relative;
  margin-top: 20px;
}
.row .rectangulo1 {
  background-color: #5265E1;
  margin-left: 50px;
  width: 280px;
  height: 165px;
  margin-top: 25%;
  border-radius: 150px 0 0 150px;
  position: absolute;
}
.row .section1text h1 {
  margin-top: 30px;
  text-align: center;
}
.row .section1text .p1 {
  text-align: center;
  padding: 0 40px 0 40px;
  font-size: small;
  color: grey;
}
.row .section1text .get {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(193, 189, 193, 0.333);
          box-shadow: 0px 5px 5px 0px rgba(193, 189, 193, 0.333);
}
.row .section1text .buttonfirefox {
  background-color: rgba(238, 234, 234, 0.547);
}
.row .section1text .buttonchrome {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 20px;
  background-color: #5265E1;
}

.section2 h2 {
  margin-top: 100px;
  text-align: center;
}
.section2 .p2 {
  padding: 0 30px 0 30px;
  color: grey;
  font-size: small;
}
.section2 .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2 .nav-tabs .nav-item.show .nav-link, .section2 .nav-tabs .nav-link.active {
  border-top: #FFFFFF;
  border-right: #FFFFFF;
  border-left: #FFFFFF;
  border-bottom: 3px solid red;
}
.section2 .active {
  display: block;
}
.section2 .img-feature {
  width: 100%;
  padding: 10px;
  position: relative;
  margin-top: 50px;
}
.section2 .tab-content .rectangulo2 {
  background-color: #5265E1;
  margin-top: 34%;
  margin-left: -15px;
  width: 270px;
  height: 165px;
  border-radius: 0px 150px 150px 0px;
  position: absolute;
}
.section2 .p3 {
  padding: 0 20px 0 20px;
  color: grey;
  font-size: small;
  text-align: center;
}
.section2 .secondfeature {
  padding: 0 20px 0 20px;
  padding-bottom: 20px;
}
.section2 .more-info {
  margin-left: 110px;
  background-color: #5265E1;
}

.section3 {
  margin-top: 100px;
}
.section3 .p3 {
  padding: 0 30px 0 30px;
  color: grey;
  font-size: small;
}
.section3 .card-group .card {
  margin-top: 25px;
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(193, 189, 193, 0.333);
          box-shadow: 0px 5px 5px 0px rgba(193, 189, 193, 0.333);
  border-top: #FFFFFF;
  border-right: #FFFFFF;
  border-left: #FFFFFF;
}
.section3 .card-group .card .card-img-top {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.section3 .card-group .card .installbutton {
  background-color: #5265E1;
}

.section4 {
  margin-top: 100px;
}
.section4 .p3 {
  padding: 0 30px 0 30px;
  color: grey;
  font-size: small;
}
.section4 .textasked {
  padding: 20px;
}
.section4 .more-info-button-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background-color: #5265E1;
}

@media only screen and (min-width: 490px) and (max-width: 767px) {
  .section1 .section1img {
    width: 90%;
    margin-left: auto;
  }
  .section1 .rectangulo1 {
    width: 100%;
    height: 60%;
    margin-left: 100px;
  }
  .section1 .section1text .buttonchrome {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 120px;
  }
  .section1 .section1text .buttonfirefox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section2 .seccionfeatureimg .img-feature {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .section2 .seccionfeatureimg .rectangulo2 {
    height: 30%;
    width: 80%;
    right: 150px;
  }
  .section2 .seccionfeaturetext {
    padding: 0 70px 0 70px;
  }
  .section2 .seccionfeaturetext .more-info {
    margin-left: 140px;
  }

  .section3 .p3 {
    padding: 0 14px 0 14px;
  }
  .section3 .card-group {
    margin-left: 85px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 943px) {
  nav .logoimg {
    width: 100%;
    padding: 0 0 0 100px;
  }
  nav .hamburguer {
    display: none;
  }
  nav .botones {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section1 .section1img {
    width: 50%;
  }
  .section1 .section1img .img1 {
    width: 100%;
  }
  .section1 .section1img .rectangulo1 {
    width: 106%;
  }
  .section1 .section1text {
    width: 50%;
  }
  .section1 .section1text h1 {
    text-align: left;
  }
  .section1 .section1text .p1 {
    text-align: left;
    padding: 0 100px 0 0;
  }
  .section1 .section1text .buttonchrome {
    margin-left: 0;
  }

  .section2 .tabtext {
    padding: 0 90px 0 90px;
  }
  .section2 .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 130px;
  }
  .section2 .tab-content {
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .tab-content #nav-bookmarking .img-feature {
    top: 30px;
    width: 130%;
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking .rectangulo2 {
    position: absolute;
    top: 450px;
    right: 500px;
    width: 45%;
    height: 25%;
  }
  .section2 .tab-content .seccionfeaturetext h2 {
    text-align: left;
    padding: 0 0 0 100px;
  }
  .section2 .tab-content .seccionfeaturetext p {
    text-align: left;
    padding: 0 60px 0 100px;
  }

  .section3 .extensiontext .p3 {
    padding: 0 150px;
  }
  .section3 .card-group .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section3 .card-group .col .card1 {
    right: 100px;
  }
  .section3 .card-group .col .card2 {
    right: 100px;
    top: 50px;
  }
  .section3 .card-group .col .card3 {
    right: 100px;
    top: 100px;
  }

  .section4 {
    margin-top: 200px;
  }
}
@media only screen and (min-width: 944px) and (max-width: 990px) {
  nav .logoimg {
    width: 80%;
    margin-top: 20px;
    margin-left: 55px;
  }
  nav .hamburguer {
    display: none;
  }
  nav ul {
    padding-left: 150px;
  }
  nav .botones {
    margin-top: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    gap: 20px;
  }

  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section1 .section1img {
    width: 45%;
  }
  .section1 .section1img .img1 {
    width: 125%;
  }
  .section1 .section1img .rectangulo1 {
    width: 110%;
    height: 65%;
    left: 40px;
  }
  .section1 .section1text {
    width: 55%;
    margin-top: 40px;
  }
  .section1 .section1text h1 {
    text-align: left;
    padding: 0;
  }
  .section1 .section1text .p1 {
    text-align: left;
    padding: 0 0px 0 0;
  }
  .section1 .section1text .buttonchrome {
    margin-left: 0;
  }

  .section2 .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 100px;
  }
  .section2 .tab-content .p2 {
    padding: 0 165px;
  }
  .section2 .tab-content {
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .section2 .tab-content #nav-bookmarking .img-feature {
    top: 30px;
    width: 100%;
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking .rectangulo2 {
    position: absolute;
    right: 550px;
    top: 530px;
    width: 43%;
    height: 30%;
  }
  .section2 .tab-content .seccionfeaturetext {
    width: 100%;
    padding: 0 0 0 50px;
  }
  .section2 .tab-content .seccionfeaturetext h2 {
    text-align: left;
    padding: 0px 0 0 0px;
  }
  .section2 .tab-content .seccionfeaturetext p {
    text-align: left;
    padding: 0 30px 0 0;
  }
  .section2 .tab-content .seccionfeaturetext .more-info {
    margin-left: 0;
  }

  .section3 .extensiontext h2 {
    padding-top: 100px;
  }
  .section3 .extensiontext p {
    padding: 0 150px;
  }
  .section3 .card-group {
    margin-right: 100px;
  }
  .section3 .card-group .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section3 .card-group .col .card1 {
    right: 100px;
  }
  .section3 .card-group .col .card2 {
    top: 50px;
    right: 100px;
  }
  .section3 .card-group .col .card3 {
    top: 100px;
    right: 100px;
  }

  .section4 {
    padding: 150px 100px 0 100px;
  }
  .section4 h2 {
    text-align: center;
  }
  .section4 .p3 {
    text-align: center;
    padding: 0 65px;
  }
  .section4 .accordion-item {
    text-align: left;
  }
  .section4 .more-info-button-2 {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  nav .logoimg {
    width: 80%;
    margin-top: 20px;
    margin-left: 100px;
  }
  nav .hamburguer {
    display: none;
  }
  nav ul {
    padding-left: 200px;
  }
  nav .botones {
    margin-top: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    gap: 20px;
  }

  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section1 .section1img {
    width: 45%;
  }
  .section1 .section1img .img1 {
    width: 125%;
    right: 50px;
  }
  .section1 .section1img .rectangulo1 {
    width: 110%;
    height: 65%;
  }
  .section1 .section1text {
    width: 55%;
    margin-top: 40px;
  }
  .section1 .section1text h1 {
    text-align: left;
    padding: 0;
  }
  .section1 .section1text .p1 {
    text-align: left;
    padding: 0 150px 0 0;
  }
  .section1 .section1text .buttonchrome {
    margin-left: 0;
  }

  .section2 .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 200px;
    margin-right: 250px;
  }
  .section2 .tab-content .p2 {
    padding: 0 285px;
  }
  .section2 .tab-content {
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .section2 .tab-content #nav-bookmarking .img-feature {
    top: 30px;
    width: 100%;
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking .rectangulo2 {
    position: absolute;
    right: 65%;
    top: 590px;
    width: 43%;
    height: 35%;
  }
  .section2 .tab-content .seccionfeaturetext {
    width: 100%;
    padding: 0 0 0 50px;
  }
  .section2 .tab-content .seccionfeaturetext h2 {
    text-align: left;
    padding: 0px 0 0 0px;
  }
  .section2 .tab-content .seccionfeaturetext p {
    text-align: left;
    padding: 0 230px 0 0;
  }
  .section2 .tab-content .seccionfeaturetext .more-info {
    margin-left: 0;
  }

  .section3 .extensiontext h2 {
    padding-top: 100px;
  }
  .section3 .extensiontext p {
    padding: 0 280px;
  }
  .section3 .card-group .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section3 .card-group .col .card2 {
    top: 50px;
  }
  .section3 .card-group .col .card3 {
    top: 100px;
  }

  .section4 {
    padding: 150px 100px 0 100px;
  }
  .section4 h2 {
    text-align: center;
  }
  .section4 .p3 {
    text-align: center;
    padding: 0 180px;
  }
  .section4 .accordion {
    padding: 0 150px;
  }
  .section4 .accordion .accordion-item {
    text-align: left;
  }
  .section4 .more-info-button-2 {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1201px) {
  nav .logoimg {
    width: 80%;
    margin-top: 20px;
    margin-left: 100px;
  }
  nav .hamburguer {
    display: none;
  }
  nav ul {
    padding-left: 200px;
  }
  nav .botones {
    margin-top: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    gap: 20px;
  }

  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section1 .section1img {
    width: 45%;
  }
  .section1 .section1img .img1 {
    width: 100%;
    right: 50px;
  }
  .section1 .section1img .rectangulo1 {
    width: 110%;
    height: 65%;
  }
  .section1 .section1text {
    width: 55%;
    margin-top: 40px;
    padding-left: 80px;
  }
  .section1 .section1text h1 {
    text-align: left;
    padding: 0 100px 0 0;
  }
  .section1 .section1text .p1 {
    text-align: left;
    padding: 0 180px 0 0;
  }
  .section1 .section1text .buttonchrome {
    margin-left: 0;
  }

  .section2 .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 300px;
    margin-right: 250px;
  }
  .section2 .tab-content .p2 {
    padding: 0 285px;
  }
  .section2 .tab-content {
    padding: 0;
  }
  .section2 .tab-content #nav-bookmarking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .section2 .tab-content #nav-bookmarking .img-feature {
    top: 30px;
    width: 110%;
    padding: 0;
    left: 100px;
  }
  .section2 .tab-content #nav-bookmarking .rectangulo2 {
    position: absolute;
    right: 65%;
    top: 500px;
    width: 55%;
    height: 35%;
  }
  .section2 .tab-content .seccionfeaturetext {
    width: 100%;
    padding: 0 0 0 50px;
    margin-left: 150px;
  }
  .section2 .tab-content .seccionfeaturetext h2 {
    text-align: left;
    padding: 0px 0 0 0px;
  }
  .section2 .tab-content .seccionfeaturetext p {
    text-align: left;
    padding: 0 290px 0 0;
  }
  .section2 .tab-content .seccionfeaturetext .more-info {
    margin-left: 0;
  }

  .section3 .extensiontext h2 {
    padding-top: 100px;
  }
  .section3 .extensiontext p {
    padding: 0 370px;
  }
  .section3 .card-group .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section3 .card-group .col .card2 {
    top: 50px;
    left: 70px;
  }
  .section3 .card-group .col .card3 {
    top: 100px;
  }

  .section4 {
    padding: 150px 190px 0 190px;
  }
  .section4 h2 {
    text-align: center;
  }
  .section4 .p3 {
    text-align: center;
    padding: 0 180px;
  }
  .section4 .accordion {
    padding: 0 150px;
  }
  .section4 .accordion .accordion-item {
    text-align: left;
  }
  .section4 .more-info-button-2 {
    margin-top: 20px;
  }
}
